<div class="container">
  <hr>

  {% if has_nav_menu('footer-nav') %}
    <nav>
      <ul>
        {% for item in footer_nav.get_items %}
          <li class="{{ item.class }}">
            <a href="{{ item.url }}" target="{{ item.target }}">{{ item.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  {% endif %}

  <p>&copy; {{ 'now'|date('Y') }} <a href="{{ site.link }}">{{ site.title }}</a></p>
</div>
