<div class="container">
  <h1><a href="{{ site.link }}" title="{{ site.title }}">{{ site.title }}</a></h1>

  {% if has_nav_menu('primary-nav') %}
    <nav>
      <ul>
        {% for item in primary_nav.get_items %}
          <li class="{{ item.class }}">
            <a href="{{ item.url }}" target="{{ item.target }}">{{ item.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  {% endif %}

  <hr>
</div>

