<!doctype html>
<html class="no-js" {{ site.language_attributes }}>
<head>
  <meta charset="{{site.charset}}">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="{{ site.theme.uri }}/dist/main.css">

  <script>
    window.siteUrl  = '{{ site.url }}';
    window.ajaxUrl  = '{{ ajax_url }}';
    window.themeUrl = '{{ site.theme.uri }}';
  </script>

  <!-- WP Head -->
  {{ function('wp_head') }}
  <!-- end WP Head -->

  {% block head %}
  {% endblock %}
</head>

<body class="{{ wp_debug ? 'wp-debug' }} {{ body_class }}">
  <div id="main-wrapper">

    <!-- Header -->
    <header id="header" class="header">
      {% block header %}
        {% include 'views/header.twig' %}
      {% endblock %}
    </header> <!-- end #header .header -->

    <!-- Page Content -->
    <main id="page-container" class="page-container">
      {% block content %}
      {% endblock %}
    </main> <!-- end #page-container .page-container -->

    <!-- Footer -->
    <footer id="footer" class="footer">
      {% block footer %}
        {% include 'views/footer.twig' %}
      {% endblock %}
    </footer> <!-- end #footer .footer -->

  </div> <!-- end #main-wrapper -->

  <!-- WP Footer -->
  {{ function('wp_footer') }}
  <!-- end WP Footer -->

  <!-- Google Analytics -->
  {% if options.google_analytics_code %}
    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', '{{ options.google_analytics_code }}', 'auto');
      ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
  {% endif %}
  <!-- end Google Analytics -->

  <!-- Browser Update -->
  <script>
    var $buoop = {notify:{i:-5,f:-4,o:-4,s:-2,c:-4},unsecure:true,unsupported:false,api:5};
    function $buo_f(){
     var e = document.createElement("script");
     e.src = "//browser-update.org/update.min.js";
     document.body.appendChild(e);
    };
    try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
    catch(e){window.attachEvent("onload", $buo_f)}
  </script>
  <!-- end Browser Update -->
</body>
</html>
