<!DOCTYPE html>
<html {{site.language_attributes}}>

<head>
  
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1">

  <title>{{ wp_title }}</title>
  <meta charset="{{ bloginfo( 'charset' ) }}">
  
  {# Use Wordpress to add Favicon (Appearance->Customise) #}

  {# Useful variables #}
  <script>
    window.wp_admin_url = '{{ ajax_url }}';
  </script>
  
  {# GA #}
  {% set ga_id = 'UA-XXXXX-X' %}

  {# Modernizr #}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

  {# Wordpress head #}
  {{ wp_head }}

</head>

<body class="{{ body_class }}">

  <!--[if lte IE 7]>
    <p id="legacy">You are using an outdated browser.<br>Please <a href="https://www.google.com/chrome/browser/" target="_blank">upgrade</a> to improve your experience.<br><small onclick="this.parentNode.style.display='none'">I get it, <a>take me to the site</a>.</small></p>
  <![endif]-->

  <!--[if lte IE 8]>
    <p id="legacy">You are using an outdated browser.<br>Please <a href="https://www.google.com/chrome/browser/" target="_blank">upgrade</a> to improve your experience.<br><small onclick="this.parentNode.style.display='none'">I get it, <a>take me to the site</a>.</small></p>
  <![endif]-->

  <!--[if lte IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/classlist/2014.01.31/classList.min.js"></script>
  <![endif]-->

  <div class="site-wrapper">

	  {% include 'header.twig' with header %}

		<main class="site-body">

			<div id="content" class="site-content">

				{% block content %}
				{% endblock %}

			</div>

		</main>

		{% include 'footer.twig' with footer %}

	</div>

	{{ wp_footer }}

  {# Google Analytics: change UA-XXXXX-Y to be your site's ID #}
  <script>
      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      ga('create','{{ ga_id }}','auto');ga('send','pageview')
  </script>

  <script src="https://www.google-analytics.com/analytics.js" async defer></script>

  {% import "mixins.twig" as mixins %}

  {{ mixins.modal() }}
	
</body>
</html>
