{% extends 'base.twig' %}

{% import 'mixins.twig' as mixin %}

{% block content %}
  <div class="container">
    {{ mixin.help() }}

    <hr>

    {% for post in posts %}
      <article class="{{ post.class }}" id="post-{{ post.id }}">
        <h2><a href="{{ post.link }}">{{ post.title }}</a></h2>
        <p>{{ post.get_preview }}</p>
      </article>
    {% endfor %}

    {% include 'partial/pagination.twig' with { pagination: posts.pagination } %}
  </div>
{% endblock %}
