{#
	A useful set of functions you can import into twig templates

  Example:
    {% import 'mixins.twig' as mixin %}
    {{ mixin.image(src, alt, link) }}
#}


{% macro image(src, alt, link = null, target = '_self') %}
  {% if link %}<a href="{{ link }}" target="{{ target }}">{% endif %}

  <img src="{{ src }}" alt="{{ alt }}">

  {% if link %}</a>{% endif %}
{% endmacro %}


{# Not for use in production #}
{% macro help() %}
  <h2>This is a simple boilerplate that includes Bootstrap and Timber/Twig</h2>

  <p>To remove this alert, simply remove <code>&#123;&#123; mixin.help() &#125;&#125;</code> found inside index.twig</p>

  <h3>Front End (JS/SCSS/Bootstrap)</h3>

  <ul>
    <li>Not all Bootstrap components are enabled. Uncomment them inside <code>scss/main.scss</code>.</li>
    <li>Not all JavaScript dependencies are imported. You can import them inside <code>js/main.js</code>.</li>
    <li>Files are compiled using Gulp/Webpack to produce distributed files inside <code>dist</code> folder.</li>
  </ul>

  <h3>Wordpress</h3>

  <ul>
    <li>Twig is used for all front end files.</li>
    <li>Two menus have been automatically created (Main Menu and Footer Menu)</li>
    <li>BrowserSync should be active and will reload the page whenever your php/twig/js/scss changes.</li>
    <li>You can continue to use wp-cli.phar in the root to manage Wordpress Plugins and other features from command line.</li>
  </ul>

  <h3>Amending this boilerplate</h3>

  <ul>
    <li>We are trying to keep this boilerplate simple and not bloated, however you can amend the gulpfile to suit your own build techniques. For example, you could include:
      <ul>
        <li><a href="https://github.com/morris/vinyl-ftp">https://github.com/morris/vinyl-ftp</a> for FTPing your files from a gulp command.</li>

        <li><a href="https://github.com/aslansky/css-sprite#usage-with-gulp">https://github.com/aslansky/css-sprite</a> for generating CSS sprites automatically.</li>

        <li><a href="https://github.com/nfroidure/gulp-iconfont">https://github.com/nfroidure/gulp-iconfont</a> for generating icon fonts automatically from a folder of SVGs.</li>
      </ul>
    </li>
  </ul>
{% endmacro %}
